{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Customers</h5>
                    <p class="card-text display-4">{{ customers_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Active Prizes</h5>
                    <p class="card-text display-4">{{ active_prizes_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Spins Today</h5>
                    <p class="card-text display-4">{{ spins_today_count }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Points Awarded Today</h5>
                    <p class="card-text display-4">{{ points_awarded_today }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Spins</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Prize</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for spin in recent_spins %}
                                    <tr>
                                        <td>{{ spin.customer.email }}</td>
                                        <td>{{ spin.prize.name }}</td>
                                        <td>{{ spin.spunAt|date('Y-m-d H:i:s') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Points Transactions</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                    <th>Reason</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in recent_transactions %}
                                    <tr>
                                        <td>{{ transaction.customer.email }}</td>
                                        <td>{{ transaction.amount }}</td>
                                        <td>{{ transaction.reason }}</td>
                                        <td>{{ transaction.createdAt|date('Y-m-d H:i:s') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 